.projects{ 
    width: 100%;
    min-height: 100vh;
}
.pro-cont{
    display:flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 20px 0;
}
.a_cont{
    width: 500px;
    height: 500px;
}
.pro-cont-img{
    width: 500px;
    height: 300px;
}
.pro-cont-img img{
    width: 100%;
    object-position: 70% 30%;
    object-fit: cover;
    transition: .7s ease-in-out;
}

.pro-cont-img img:hover{
    scale: 1.1;
    box-shadow: 2px 16px 9px 0px rgba(0,0,0,0.76);

}
@media screen and (max-width:620px) {
    .pro-cont-img{
        width: 400px;
        height: auto;
    }
    
}
@media screen and (max-width:420px) {
    .pro-cont-img{
        width: 280px;
        height: auto;
    }
    
}
