.machine_a{
    width: 100%;
    float: left;
    color: white;
    position: relative;
    text-align: left;
}
.machine_a span{
    width: 100%;
    position: absolute;
    background-color: var(--pricipal-color);
    right: 0;
    width: 0;
    background-color: black;
    /* border-left:1px solid black; */
    color: white;
    animation: machine 9s infinite alternate steps(97);
}

@keyframes machine{
    0%{
        width: 100%;
    }
    100%{
        width: 0;
    }
    
}