:root {
    --pricipal-color: #828282;
    --second-color:  #16a085;
    --terc-color:  #4726a1;
    --four-color:  #063971;
  }
.cont {
    width: 100%;
    height: 100vh;
}
.bg_black{
    background-color: black;
}
.trans_bg_color{
    animation: bgcolor;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes bgcolor {
    0%{
        background-color: black;
    }
    100%{
        background-color: var(--second-color);
    }
}
header{
    /* background-color: black; */
    /* background-image: url("https://i.gifer.com/3ZNo.gif"); */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header_cont{
    padding: 40px 0;
    min-width: 800px;
    height: 600px;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    color: whitesmoke;
    gap: 20px;
}
.btn{
    color: white;
    background-color: #4726a1;
    position: relative;
    border: none;
    padding: 18px 40px;
    transition: ease-in-out .7s all;
    cursor: pointer;
}
.btn:hover{
    transform: translateY(-15px);
    background-color: var(--second-color);
}
.header_btn p{
    text-decoration: none;
    /* color: white; */
    font-size: 20px;
    margin: 0;
}
@media screen and (max-width:820px) {
    .header_cont{
        min-width: 0px;
        width: 100%;
    }
}

  @media screen and (max-width:600px){
    .header_cont{
        width: 90%;
        padding: 30px 20px;
        align-items: center;
    }
    .header__btns{
        flex-direction: column;
    }
  }